<!DOCTYPE html>
<html>
<head>
  <title>Is it snowing in <%= CITY %>, <%= STATE %>?</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  
  <link href='http://fonts.googleapis.com/css?family=Raleway:200,700' rel='stylesheet' type='text/css'>
  <style type="text/css">
    body{
      font-family: "Raleway", Helvetica, sans-serif;
      color: #fff;
      height: 100%;
      font-weight: 200;
    }

    a {
      color: #fff;
    }
    
    h2 {
      font-weight: 200;
      text-transform: uppercase;
      font-size: 34px;
    }
    h1 {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 210px;
      margin: 60px 0;
    }

    html {
      background:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)) fixed, url(<% if @weather.snowing? %>yes.jpg<% else %>no.jpg<% end %>) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }

    .content {
      position: relative;
    }

    .container {
      text-align: center;
      width: 80%;
      height: 90%;
      overflow: visible;
      margin: auto;
      position: absolute;
      top: 0; left: 0; bottom: 0; right: 0;
    }

    .bottom {
      font-weight: 700;
      margin: 0 auto;
      width: 100%;
      text-align: center;
    }

    .bottom a {
      font-weight: 200;
    }

    .updated {
      font-size: 22px;
    }

    @media (max-width: 750px) {
      h1 {
        font-size: 100px;
      }
      h2 {
        font-size: 18px;
      }
      body, .updated {
        font-size: 14px;
      }
    }

    @media (max-width: 400px) {
      h1 {
        font-size: 80px;
      }
      h2 {
        font-size: 24px;
      }
      .bottom {
        font-size: 12px;
      }
    }

  </style>
</head>
<body>
  <div class="container">
    <div class="content">
      <h2>Is it snowing in <%= CITY %>, <%= STATE %>?</h2>
      <% if @weather.snowing? %>
        <h1>Yep</h1>
      <% else %>
        <h1>Nope</h1>
      <% end %>
      <p class="updated">(updated <%= time_ago_in_words @weather.last_updated %> ago)</p>
      <p>made by <a href="https://twitter.com/invisiblefunnel">danny</a> + <a href="http://team-charlotte.tumblr.com">cfa: team charlotte</a></p>
      <p><a href="https://github.com/invisiblefunnel/is-it-snowing"><img src="GitHub-Mark-32px.png"></a></p>
    </div>
    <div class="bottom">
      <a href="http://www.snowinginlex.com/">lexington, ky</a>&nbsp;&#183;&nbsp;
      <a href="http://isitsnowinginchattanooga.com/">chattanooga, tn</a>&nbsp;&#183;&nbsp;
      <a href="http://www.isitsnowinginatlantaga.com/">atlanta, ga</a>
    </div>
  </div>

  <pre style="display:none;"><%= JSON.pretty_generate @weather.response %></pre>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '<%= ENV['GAUGES'] %>');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
